@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* * {
  outline: dashed 1px red;
} */

.dropdown {
  opacity: 0;
  transition: opacity 0.3s;
}

.dropdown.active {
  opacity: 1;
}
