@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* * {
  outline: dashed 1px red;
} */

@font-face {
  font-family: "Ebihara";
  src: local("EbiharaNoKuseji"), url("./EbiharaNoKuseji.ttf");
}

body {
  font-family: Ebihara;
}

.dropdown {
  opacity: 0;
  transition: opacity 0.3s;
}

.dropdown.active {
  opacity: 1;
}
